{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create Auctions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
</head>

<body>
    <h1 style="color: brown;">Create new Auction</h1>
    <div>
        <form class="form-horizontal" method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            {{ form.as_p }}
            {{ form.media }}
            <button type="submit">Submit</button>
        </form>

    </div>

</body>

</html>